@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
:root {
    /* Colors */
    --primær-farve: #00c8ff;  /* Green */
    --secondary-color: #ffffff; /* Orange */
    --background-color: #f4f4f4;
    --text-color: #000000;
    /* Typography */
    --font-family: 'Lilita One', sans-serif;
    --font-size-base: 16px;
    --font-size-heading: 24px;

    /* Shadows */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



* {
    font-family: var(--font-family);
    text-decoration: none;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #333;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #00c8ff;

    padding: 15px 100px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 100px;
}

.logo {
    margin-right: auto;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: #333;
    transition: color 0.3s;
}

.logo a:hover {
    color: #219ebc;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    font-weight: lighter;

}
.nav-content a {
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

li {
    list-style: none;
}

.nav-content a:hover {
    color: #333;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
    font-size: 30px;
    width: 130px;
    height: 45px;
    cursor: pointer;
    border-radius: 25px;
    transition: color 0.3s;
}

.nav-buttons button[data-role="register"] {
    background-color: #00aaff;
    color: white;
}

.nav-buttons button[data-role="login"] {
    background-color: #00689C;
    color: white;
}

.nav-buttons button[data-role="logoff"] {
    background-color: #00aaff;
    color: white;
}

.nav-buttons a:hover {
    opacity: 0.8;
}


.login-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 100px 500px;
    height: 650px;
    padding: 0px;
    box-shadow: 0 0 10px 3px rgba(0,0,0, 0.2);
}


.formBox {
    width: 550px;
    padding: 5px 50px;
    margin: 20px;
    border: none;
}


.formBox input, .formBox textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.formBox label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.login-page-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.login-page-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
    font-size: 30px;
    width: 130px;
    height: 45px;
    cursor: pointer;
    border-radius: 25px;
    transition: color 0.3s;
}
.login-page-buttons button[data-role="register"] {
    background-color: #00aaff;
    width: 200px;
}

.login-page-buttons button[data-role="login"] {
    background-color: #00689C;
    color: white;
    width: 200px;
}
.login-page-buttons a {
    transition: color 0.3s;
    color: white;
}
.login-page-buttons a:hover {
    color: black;
}


.create-account-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.create-account-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
    font-size: 30px;
    width: 130px;
    height: 45px;
    cursor: pointer;
    border-radius: 25px;
    transition: color 0.3s;
}
.create-account-buttons button[data-role="create"] {
    background-color: #00aaff;
    width: 220px;
}

.create-account-buttons button[data-role="login"] {
    background-color: #00689C;
    color: white;
    width: 200px;
}
.create-account-buttons a {
    transition: color 0.3s;
    color: white;
}
.create-account-buttons a:hover {
    color: black;
}







article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
}

article h2 {
    margin-bottom: 40px;
    font-size: 40px;
    color: black;
}

article img {
    width: 600px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.7);
}

article p {
    font-size: 24px;
    margin-top: 15px;
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #00c8ff;
    color: black;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#errorText{
    color: red;
    border-radius: 8%;
}


#main{
    height: 500px;
}
#forside-main-indhold{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px;
    height: 650px;
    padding: 0px;
    box-shadow: 0 0 10px 3px rgba(0,0,0, 0.2);
}
#main-indhold-tekst{
    max-width: 40%;
}
.forside-element{
    margin: 50px;
}
#main-indhold-tekst-knap{
    border: none;
    padding: 5px;
    font-size: 30px;
    width: 400px;
    height: 45px;
    cursor: pointer;
    border-radius: 25px;
    transition: color 0.3s;
    margin: 20px;
    background-color: #00aaff;
    color: white;
}
#main-indhold-tekst-knap:hover {
    color: black;
}

.ønskeliste-kort{
    color: black;
    margin: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 320px;
    width: 250px;
    border-radius: 12%;
    background-color: #8ecae6;
    transition: box-shadow 0.3s ease-in-out;
}

.ønskeliste-kort:hover{
    cursor: grab;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.3);

}
.ønskeliste-kort-opret{
    color: black;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 250px;
    border-radius: 12%;
    background-color: #8ecae6;
    transition: box-shadow 0.3s ease-in-out;

}
.ønskeliste-kort-opret:hover{
   cursor: grab;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.3);

}
.ønskeliste-kort-indhold{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ønskeliste-sektion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.ønskeliste-indhold{
    margin-top: 20px;
}
#overview-welcome-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.create-new-wish-layout{
    font-size: 2rem;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-width: 1px;

}
.wish-image {

    border-radius: 12%;
    margin-top: 5px;

    width: 240px;
    height: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: #219ebc;

}
#align-center-button{
     display: flex;
     align-items: center;
     justify-content: center;
 }

#ønske-holder{
    display: flex;
    flex-direction: row;
    margin: 50px;
    border-radius: 11%;
    background-color: #e1e1e1;
}
#enkelt-ønske-venstre{
    margin: 50px;
    border-radius: 11%;


}
#enkelt-ønske-højre{
margin: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: start;
    padding: 60px;
    border-radius: 10px;
width: 700px;
    background-color: beige;
}