@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
:root {
    /* Colors */
    --primær-farve: #8ecae6;  /* Green */
    --secondary-color: #ffffff; /* Orange */
    --background-color: #f4f4f4;
    --text-color: #000000;
    /* Typography */
    --font-family: 'Lilita One', sans-serif;
    --font-size-base: 16px;
    --font-size-heading: 24px;

    /* Shadows */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



* {

    font-family: var(--font-family);
    text-decoration: none;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f9;
    color: #333;
}

.navbar {
    background-color: #8ecae6;
    padding: 15px 30px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: #333;
    transition: color 0.3s;
}

.logo a:hover {
    color: #219ebc;
}

.formBox {
    width: 500px;
    padding: 50px;
    margin: 20px;
    border-color: #8ecae6;
    border-width: 15px;
    border-style: solid;
    border-radius: 5%;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

li {
    list-style: none;
}

li a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

li a:hover {
    color: #333;
}

button {
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #333;
    color: white;
}

button a {
    color: #333;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
}

article h2 {
    margin-bottom: 20px;
    color: #219ebc;
}

article img {
    width: 400px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

article p {
    font-size: 18px;
    margin-top: 15px;
    color: #555;
}

footer {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    background-color: #8ecae6;
    color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#errorText{
    color: red;
    border-radius: 8%;
}
#forside-main-indhold{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;


}
#main-indhold-tekst{
    max-width: 30%;
}
.forside-element{
    margin: 50px;
}
#main-indhold-tekst-knap{
    font-weight: bold;
    margin-top: 40px;
background-color: #8ecae6;
    height: 40px;
    width: 180px;
}
.ønskeliste-kort{
    color: black;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 320px;
    width: 250px;
    border-radius: 12%;
    background-color: #8ecae6;
    transition: box-shadow 0.3s ease-in-out;
}

.ønskeliste-kort:hover{
    cursor: grab;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.3);

}
.ønskeliste-kort-opret{
    color: black;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 250px;
    border-radius: 12%;
    background-color: #8ecae6;
    transition: box-shadow 0.3s ease-in-out;

}
.ønskeliste-kort-opret:hover{
   cursor: grab;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.3);

}
.ønskeliste-kort-indhold{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ønskeliste-sektion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.ønskeliste-indhold{
    margin-top: 20px;
}
#overview-welcome-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}