<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" href="/images/logo for frontsite.jpg">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishhub</title>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a th:href="@{/}">Wishhub</a>
            </div>

            <div class="nav-content">
                <a th:href="@{/about}">About</a>
                <a th:href="@{/contact}">Contact</a>
                <div class="nav-user-button"></div>

                <div class="nav-buttons">
                    <button data-role="register" th:if="${!loggedIn}"><a th:href="@{/register}">Register</a></button>
                    <button data-role="login" th:if="${!loggedIn}"><a th:href="@{/login}">Sign In</a></button>
                    <button data-role="login" th:if="${loggedIn}"><a th:href="@{'/'+${user.getUsername()}}">Go to Wishes!</a></button>
                    <form th:action="@{/logoff}" method="post">
                        <button data-role="logoff" type="submit" th:if="${loggedIn}" > <a>Sign Out</a> </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
    <article id="forside-main-indhold">
        <div class="forside-element">
            <img style="width: 100%; height: 400px" src="images/katgave.jpg"  alt="Billede af kat">
        </div>

        <div id="main-indhold-tekst" class="forside-element">
            <h2>Contact Us!</h2>
            <pre>
                Opening Hours:
                📅 Monday - Friday: 08:00 - 17:00
                📅 Saturday: 10:00 - 14:00
                📅 Sunday & Public Holidays: Closed

                📞 Phone Hours:
                📅 Monday - Friday: 09:00 - 16:00
                📅 Saturday: 10:00 - 13:00
                📅 Sunday: Closed
            </pre>
        </div>
    </article>

</main>

<footer class="foot">
    <p>Disclaimer: Vi sørger ikke for at du får dine gaver det er ikke vores problem det er et dig problem.</p>
</footer>

</body>
</html>