<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/images/frontsite-logo.jpg}">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <title>Your Wishes</title>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a th:href="@{/}">WishHub</a>
            </div>

            <div class="nav-content">
                <a th:href="@{/about}">About</a>
                <a th:href="@{/contact}">Contact</a>
                <a th:if="${owner}" th:href="@{/createnewlist}">+</a>
                <div class="nav-user-button"></div>

                <div class="nav-buttons">
                    <button data-role="register" th:if="${loggedInUser==null}"><a th:href="@{/register}">Register</a></button>
                    <button data-role="login" th:if="${loggedInUser==null}"><a th:href="@{/login}">Sign In</a></button>
                    <button data-role="login"  th:if="${!owner && loggedInUser!=null}"><a th:href="@{'/'+${loggedInUser.getUsername()}}">Go to Wishes!</a></button>
                    <form th:if="${loggedInUser!=null}" th:action="@{/logoff}" method="post">
                        <button data-role="logoff" type="submit"> <a>Sign Out</a> </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="create-new-wish-layout">
        <p>Edit Wishlist</p>
        <p th:text="${error}"></p>
        <form class="formBox" th:action="@{/editwishlist}" th:method="post" >
            <label for="name"><b>Wishlist name</b></label>
            <input type="text" placeholder="Enter Wishlist name" name="name" th:value="${wishlist.getName()}" required id="name" size="20" maxlength="20" >
            <input type="hidden" th:name="id" th:value="${wishlist.getId()}">
            <input type="hidden" th:name="userID" th:value="${wishlist.getUserID()}">

            <button type="submit">Edit wishlist!</button>
        </form>
    </div>
</main>
</body>
</html>