<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishhub</title>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a th:href="@{/}">Wishhub</a></div>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <div th:if="${!loggedIn}">

                    <button><a th:href="@{/register}">Register</a></button>
                    <button><a th:href="@{/login}">Login</a></button>
                </div>

                <div th:if="${loggedIn}">
                   <button><a th:href="@{/overview}">Go to Wishes</a></button>
                </div>

            </ul>
        </div>
    </nav>
</header>

<main>
<article id="forside-main-indhold">
    <div class="forside-element">
        <img style="width: 100%; height: 400px" src="images/katgave.jpg"  alt="Billede af kat">
    </div>
    <div id="main-indhold-tekst" class="forside-element">
        <h2>Welcome to Wishhub!</h2>
        <p>Welcome to WishHub – the easiest way to share your wishlists! Whether it’s for birthdays, holidays, or special occasions, WishHub helps you create and share personalized wishlists with friends and family. Say goodbye to guessing and ensure every gift is thoughtful and exactly what you want. Start sharing your wishlist today!</p>
        <a th:href="@{/register}"><button id="main-indhold-tekst-knap">Get Started now!</button></a>
    </div>
</article>

</main>

<footer>
<p>Disclaimer: Vi sørger ikke for at du får dine gaver det er ikke vores problem det er et dig problem.</p>
</footer>

</body>
</html>