<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishhub</title>
</head>
<body>

<header>
<h1>Wishhub</h1>

<div>
    <button onclick="placeholder" class="dropbtn">Dropdown</button>
   <div id="myDropdown" class="dropdown-content">
       <a href="#">link 1</a>
       <a href="#">link 2</a>
       <a href="#">link 3</a>

   </div>

</div>


</header>



</body>
</html>