<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishhub</title>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a th:href="@{/}">Wishhub</a></div>
            <ul>
                <li><a href="#">+</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <button><a href="#">Register</a></button>
                <button><a href="#">Login</a></button>
            </ul>
        </div>
    </nav>
</header>

<main>
<article>
    <h2>Welcome to Wishhub!</h2>
    <img src="images/katgave.jpg" alt="Billede af kat">
    <p>May all your wishes come true!</p>
</article>

</main>

<footer>
<p>Disclaimer: Vi sørger ikke for at du får dine gaver det er ikke vores problem det er et dig problem.</p>
</footer>

</body>
</html>