<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/images/frontsite-logo.jpg}">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishhub Login</title>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a th:href="@{/}">WishHub</a>
            </div>

            <div class="nav-content">
                <a th:href="@{/about}">About</a>
                <a th:href="@{/contact}">Contact</a>
            </div>
        </div>
    </nav>
</header>

<main>
    <article class="login-page">
        <h2>Sign In to WishHub</h2>
        <p id="errorText" th:text="${error}"></p>
        <div class="formBox">
            <form th:action="@{/login}" th:method="post">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required id="username">

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required id="password">
                <div class="login-page-buttons">
                    <button data-role="register"><a th:href="@{/register}">Register</a></button>
                    <button data-role="login" type="submit"><a>Sign In</a></button>
                </div>


            </form>
        </div>
    </article>



</main>

<footer>


</footer>

</body>
</html>