<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/images/frontsite-logo.jpg}">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Your Wishes</title>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a th:href="@{/}">WishHub</a>
            </div>

            <div class="nav-content">
                <a th:href="@{/about}">About</a>
                <a th:href="@{/contact}">Contact</a>
                <a th:if="${owner}" th:href="@{/createnewlist}">+</a>
                <div class="nav-user-button"></div>

                <div class="nav-buttons">
                    <button data-role="register" th:if="${loggedInUser==null}"><a th:href="@{/register}">Register</a></button>
                    <button data-role="login" th:if="${loggedInUser==null}"><a th:href="@{/login}">Sign In</a></button>
                    <button data-role="login"  th:if="${!owner && loggedInUser!=null}"><a th:href="@{'/'+${loggedInUser.getUsername()}}">Go to Wishes!</a></button>
                    <form th:if="${loggedInUser!=null}" th:action="@{/logoff}" method="post">
                        <button data-role="logoff" type="submit"> <a>Sign Out</a> </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="wish-nav">
        <div class="profile-box">
            <h1 th:text="${user.getName()}"></h1>
            <a th:if="${owner}">My Wishlists</a>
            <a th:if="${!owner}">Wishlists </a>
        </div>
        <div th:if="${owner}" class="add-wish">
            <form th:action="@{/createnewlist}">
                <button data-role="add-wishlist">+ Add Wishlist</button>
            </form>

        </div>


    </div>

    <div class="wish-container">

        <a th:href="@{${user.getUsername()}+'/wishlist/' + ${liste.getId()}}" th:each="liste : ${ønskelister}" class="ønskeliste-kort">
            <div class="ønskeliste-kort-indhold">
            <h3 class="ønskeliste-indhold" th:text="${liste.getName()}"></h3>
            <p class="ønskeliste-indhold" th:text="${liste.getWishList().size() + ' Wishes'}"></p>
            </div>
        </a>

        <a th:if="${owner}" th:href="@{/createnewlist}" class="ønskeliste-kort-opret">
            <div>
                <h3>Create a new wishlist!</h3>
            </div>
        </a>

    </div>

</main>





</body>
</html>