<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/images/frontsite-logo.jpg}">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishhub Register</title>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo"><a th:href="@{/}">WishHub</a></div>
            <div class="nav-content">
                <a th:href="@{/about}">About</a>
                <a th:href="@{/contact}">Contact</a>
            </div>
        </div>
    </nav>
</header>

<main>
    <article class="login-page">

        <p id="errorText" th:text="${error}"></p>
        <div class="formBox">
            <h2>Create WishHub Account</h2>
            <form th:action="@{/register}" th:method="post">
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="name" required id="name">

                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required id="username">

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required id="password">

                <div class="create-account-buttons">
                    <button data-role="create" type="submit"><a>Create Account</a></button>
                    <button data-role="login"><a th:href="@{/login}">Go to login</a></button>
                </div>

            </form>
        </div>
    </article>



</main>

<footer>


</footer>

</body>
</html>