<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/images/frontsite-logo.jpg}">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishhub</title>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a th:href="@{/}">WishHub</a>
            </div>

            <div class="nav-content">
                <a th:href="@{/about}">About</a>
                <a th:href="@{/contact}">Contact</a>

                <div class="nav-buttons">
                    <button data-role="register" th:if="${!loggedIn}"><a th:href="@{/register}">Register</a></button>
                    <button data-role="login" th:if="${!loggedIn}"><a th:href="@{/login}">Sign In</a></button>
                    <button data-role="login" th:if="${loggedIn}"><a th:href="@{'/'+${user.getUsername()}}">Go to Wishes!</a></button>
                    <form th:action="@{/logoff}" method="post">
                        <button data-role="logoff" type="submit" th:if="${loggedIn}" > <a>Sign Out</a> </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>


    <div class="wish-nav">
        <div class="profile-box">
            <h1 th:text="${wish.getName()}"></h1>
            <a>Wish</a>
        </div>

        <div class="add-wish">



            <form th:action="@{'/' + ${username}+'/wishlist/'+${wish.getWishlistID()}}">
                <button>⮜    Go Back</button>
            </form>
        </div>

    </div>

    <div id="ønske-holder">
        <div id="enkelt-ønske-venstre">
            <img th:if="${wish.getImgURL().isEmpty()}" src="/images/team.jpg" class="enkelt-billede" alt="WishIMG">
            <img th:if="${!wish.getImgURL().isEmpty()}" class="enkelt-billede" th:src="${wish.getImgURL()}"  alt="WishIMG">
        </div>
        <div id="enkelt-ønske-højre">
            <h2 th:text="${wish.getName()}"></h2>
            <h3 th:text="${'Price: ' + wish.getPrice()}"></h3>

            <p th:text="${'Description: ' + wish.getDescription()}"></p>
            <p th:if="${wish.isReserved() && !owner}">Wish has been reserved!</p>
            <div id="enkelt-ønske-højre-knapper">

                <form th:action="@{/reservewish}" th:method="post" class="add-wish">
                    <input type="hidden" th:value="${ownerUsername}"  th:name="usernameFromOwner">
                    <input type="hidden" th:value="${wish.getId()}" name="wishID">
                    <button th:if="${!owner && loggedIn && wish.isReserved()==false}">Reserve 🔒</button>
                </form>
                <form class="add-wish" th:if="${owner}" th:action="@{'/edit/wish/'+${wish.getId()}} ">
                    <button >Edit Wish ✏️</button>
                </form>
                <form class="add-wish" th:if="${owner}" th:action="@{'/delete/'+${wish.getId()}}" th:method="post">
                    <input type="hidden" id="wishListID" th:name="wishListID" th:value="${wish.getWishlistID()}">
                    <button th:if="${owner}">Delete Wish 🗑️❌ </button>
                </form>

                <a class="add-wish" th:if="${!owner && !wish.getWishURL().isEmpty()}" th:href="@{${wish.getWishURL()}} "><button>Visit site 🚀</button></a>
            </div>
        </div>

    </div>





</main>

</body>
</html>