<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Your Wishes</title>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a th:href="@{/}">Wishhub</a>
            </div>

            <div class="nav-content">
                <a th:href="@{/about}">About</a>
                <a th:href="@{/contact}">Contact</a>
                <div class="nav-user-button"></div>

                <div class="nav-buttons">
                    <form th:action="@{/logoff}" method="post">
                        <button data-role="logoff" type="submit"> <a>Sign Out</a> </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div id="overview-welcome-text">
        <h1 th:if="${wish.size()==0}" th:text="${wishlist.getName()} + ' is empty :)'"></h1>
        <h1 th:if="${wish.size()>0}" th:text="'Wishes in ' + ${wishlist.getName()} + ' :)'"></h1>
    </div>
    <div id="ønskeliste-sektion">

        <a th:href="@{'/wishlist/' + ${wishlist.getId()} + '/wish/' + ${liste.getId()}}" th:each="liste : ${wish}" class="ønskeliste-kort">
            <div class="ønskeliste-kort-indhold">
                <img class="wish-image" th:src="${liste.getImgURL()}" alt="image">
                <h3 class="ønskeliste-indhold" th:text="${liste.getName()}"></h3>
                <p class="ønskeliste-indhold" th:text="${'Price ' + liste.getPrice()}"></p>
            </div>
        </a>

        <a th:if="${owner}" th:href="@{'/' + ${id} + '/createnewwish'}" class="ønskeliste-kort-opret">
            <div>
                <h3>Create a new Wish!</h3>
            </div>
        </a>
    </div>

</main>





</body>
</html>