<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/images/frontsite-logo.jpg}">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Your Wishes</title>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a th:href="@{/}">WishHub</a>
            </div>

            <div class="nav-content">
                <a th:href="@{/about}">About</a>
                <a th:href="@{/contact}">Contact</a>

                <div class="nav-buttons">
                    <a th:if="${owner}"  th:href="@{'/'+ ${wishlist.getId()}+  '/createnewwish'}">+</a>
                    <button data-role="register" th:if="${!loggedIn}"><a th:href="@{/register}">Register</a></button>
                    <button data-role="login" th:if="${!loggedIn}"><a th:href="@{/login}">Sign In</a></button>
                    <button data-role="login" th:if="${loggedIn}"><a th:href="@{'/'+${loggedInUser.getUsername()}}">Go to Wishes!</a></button>
                    <form th:action="@{/logoff}" method="post">
                        <button data-role="logoff" type="submit" th:if="${loggedIn}" > <a>Sign Out</a> </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div id="overview-welcome-text">
        <h1 th:if="${wish.isEmpty()}" th:text="${wishlist.  getName()} + ' is empty :)'"></h1>
        <h1 th:if="${wish.size()>0}" th:text="'Wishes in ' + ${wishlist.getName()} + ' :)'"></h1>

        <form th:action="@{'/wishlist/delete/'+${wishlist.getId()}}" th:method="post">
        <button th:if="${owner}">Slet</button>
        </form>
        <form  th:action="@{'/edit/wishlist/'+ ${wishlist.getId()}}">
        <button th:if="${owner}" >Edit Wishlist</button>
    </form>
    </div>
    <div id="ønskeliste-sektion">

        <a th:href="@{'/'+${user.getUsername()}+'/wishlist/' + ${wishlist.getId()} + '/wish/' + ${liste.getId()}}" th:each="liste : ${wish}" class="ønskeliste-kort">
            <div class="ønskeliste-kort-indhold">
                <img class="wish-image" th:src="${liste.getImgURL()}" alt="image">
                <h3 class="ønskeliste-indhold" th:text="${liste.getName()}"></h3>
                <p class="ønskeliste-indhold" th:text="${'Price ' + liste.getPrice()}"></p>
            </div>
        </a>

        <a th:if="${owner}" th:href="@{'/' + ${id} + '/createnewwish'}" class="ønskeliste-kort-opret">
            <div>
                <h3>Create a new Wish!</h3>
            </div>
        </a>
    </div>

</main>





</body>
</html>